<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Template</title>
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<header>
		<div class="container">
			<a href="#" class="logo">Recruiting</a>
			<button class="mn"><i></i></button>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					En
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Ru</a>
					<a class="dropdown-item" href="#">Uz</a>
				</div>
			</div>
			<ul class="justify-content-end">
				<li><a href="#">Solutions</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Resources</a></li>
			</ul>
		</div>
	</header>
	<section class="contact">
		<div class="container">
			<div class="btitle">Contact</div>
			<ul class="contact">
				<li><img src="img/location.png" alt=""> 68  place de Miremont, <br> VILLENEUVE-SUR-LOT, France</li>
				<li>
						<img src="img/email.png" alt=""> info@recruiting.org
				</li>
				<li>
					<img src="img/phone.png" alt=""> 78 45 652 13 12
				</li>
			</ul>
			<form action="#" class="feedback">
				<div class="title">Feedback </div>
				<input type="text" placeholder="Your name">
				<input type="text" placeholder="Your email">
				<textarea name="" placeholder="Text message"></textarea>
				<input type="submit" value="Send">
			</form> 
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-xs-4">
					<div class="title">CONTACTS</div>
					<p>68  place de Miremont, <br>
VILLENEUVE-SUR-LOT, France</p>
					<div class="phone"><i class="fa fa-phone"></i> 05834122309</div>
					<div class="email"><i class="fa fa-envelope"></i> eizoku@hr.net</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-xs-4">
					<div class="title">Menu</div>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">We're Hiring</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">API Integration</a></li>
						<li><a href="#">GDPR</a></li>
					</ul>
				</div>
				<div class="col-xl-4 col-lg-4 col-xs-4">
					<div class="title">Product</div>
					<ul>
						<li><a href="#">Applicant Tracking System</a></li>
						<li><a href="#">Branded Career Page</a></li>
						<li><a href="#">Job Posting</a></li>
						<li><a href="#">Partner Job Boards</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				© 2019, made with coffee and love by MD.
				<ul>
					<li><a href="#">Status.</a></li>
					<li><a href="#">Terms & Conditions.</a></li>
					<li><a href="#">Privacy Policy.</a></li>
					<li><a href="#">Contact.</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>